<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="text-center col-md-12 col-md-offset-12">
    <%= image_tag("tools_down.jpg", :alt => "Tools down logo", size: "500x200") %>
     <div>
      <br>
      <br>
      <h1>Welcome</h1>
     </div>
    </div>
  </div>
  <% if @display %>
  <div class="row vertical-center-row">
    <div class="text-center col-md-12 col-md-offset-12" id="message-block"> 
     <%= @message %>
  

    
    </div>
    <%end%>
  </div>
</div>

 <% if @display %>
  <div class="row vertical-center-row">
    <div class="text-center col-md-12 col-md-offset-12">


  <a href="/welcome/show" class="btn btn-warning">OK</a>

    
    </div>
  <%end%>
  </div>
</div>



