<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="text-center col-md-12 col-md-offset-12">
     <h1>Welcome</h1>
    </div>
  </div>
</div>
<div class="row vertical-center-row">
  <div class="text-center col-md-offset-12">
    <div id="message-block"></div>
  </div>
</div>

